.footer {
    background-color: $dark-blue-grey;
    .btn.btn-social {
        margin-right: 2rem;
        width: 2.5rem;
        height: 2.5rem;
        display: inline-block;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: #10182c;
        font-weight: normal;
        font-size: 20px;
        border: 1px solid #fff;
        border-radius: 50%;
        transition: 0.3s;
        padding: 5px;
        &:hover {
            background-color: $transparent;
            color: $white;
        }
    }
    .btn.btn-link {
        display: block;
        text-align: left;
        text-transform: capitalize;
        transition: 0.3s;
        padding: 0;
        &:hover {
            color: $white;
        }
        &:focus {
            outline: unset;
            border: none;
            box-shadow: none;
        }
    }
    #footer-logo {
        margin-left: 2rem;
    }
}