.home-nav {
    background-color: $dark-blue-grey;
    .navbar-brand {
        height: 6.25rem;
        #logo {
            padding: 0 2rem;
        }
    }
    #homebar {
        display: none;
    }
    .homebar-checked {
        display: none;
        &:checked~ {
            #navbarCollapse {
                display: block;
            }
            #mobile-navbar-open {
                display: none;
            }
            #mobile-navbar-close {
                display: block;
            }
        }
    }
    .mobile-bar {
        position: absolute;
        top: 32px;
        right: 12px;
        z-index: 9999;
        display: none;
    }
    .navbar-nav {
        .nav-link {
            margin-right: 30px;
            padding: 5px 0;
            color: $white;
            &:hover {
                color: $pale-purple;
            }
            &:last-child {
                margin-right: 2rem;
            }
            .signin-btn {
                border-radius: 15px;
                border: 1px solid $pale-purple;
                color: $white;
                padding: 0.375rem 2.313rem 0.438rem 2.25rem;
                &:hover {
                    background-color: $pale-purple;
                }
            }
        }
        .nav-link.active {
            color: $pale-purple;
        }
    }
}