:root {
    font-size: 16px;
}

body {
    background-color: $dark-blue-grey;
}

.row {
    margin: 0;
    padding: 0;
}

.bg-dark-blue {
    background-color: $dark-blue-grey;
}

.bg-dark-purple {
    background-color: $dark-purple;
}

.bg-purple-grey {
    background-color: rgba($purpley-grey, 0.1);
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.float-right {
    float: right;
}

.border-radius-25 {
    border-radius: 25px!important;
}

.btn {
    border-radius: 3px;
    &.purpleBtn {
        // min-width: 11.563rem;
        background-color: $pale-purple;
        &:hover {
            color: $white;
        }
    }
    &.transparentBtn {
        min-width: 11.563rem;
        background-color: $transparent;
        border: 1px solid $pale-purple;
        &:hover {
            color: $white;
            background-color: $pale-purple;
        }
    }
    &.greyBtn {
        padding: 0.4rem 1rem;
        border: none;
        border-radius: 20px;
        background-color: rgba($purpley-grey, 0.1);
        font-size: 0.75rem;
        color: $dark-blue-grey;
        display: inline-block;
        margin: 20px 10px 0 0;
        cursor: pointer;
        img {
            width: 0.8rem;
        }
    }
    &.successBtn {
        color: $success;
        background-color: $light-success;
        min-width: 6.5rem;
    }
    &.dangerBtn {
        color: $danger;
        background-color: $light-danger;
        min-width: 6.5rem;
    }
}

.form-check-input {
    &:checked {
        background-color: $pale-purple;
        border-color: $pale-purple;
    }
    &:focus {
        border-color: $pale-purple;
        outline: 0;
        box-shadow: none;
    }
}

.p-50 {
    padding: 0.719rem 1.157rem 0.844rem 1.116rem;
    border-radius: 3px;
    height: 50px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.input-group {
    .input-group-text {
        background-color: transparent;
        border: 1px solid rgba($charcoal-grey, 0.19);
        border-radius: 3px;
        border-right: none;
        img {
            width: 1.563rem;
        }
    }
    .form-control {
        border-radius: 3px;
        border: 1px solid rgba($charcoal-grey, 0.19);
        ;
        border-left: none;
        &:focus {
            outline: none;
            box-shadow: none;
            border: 1px solid rgba($charcoal-grey, 0.19);
            border-left: none;
        }
    }
}