.Headlineform {
    font-family: Barlow;
    font-size: 4.375rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1.94px;
    line-height: 1;
    color: $dark-blue-grey;
}

.ClubsTitle {
    font-family: Barlow;
    font-size: 3.125rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1.39px;
    line-height: 1;
    color: $pale-purple;
}

.HeadlineTitle {
    font-family: Barlow;
    font-size: 1.875rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.83px;
    line-height: normal;
    color: $dark-blue-grey;
}

.BarlowMedium {
    font-family: Barlow;
    font-size: 1.75rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.78px;
    color: $white;
}

.Headlineformmobile {
    font-family: Barlow;
    font-size: 1.5rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.67px;
    color: $dark-blue-grey;
}

.Headline20MediumPositive {
    font-family: Barlow;
    font-size: 1.25rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: $charcoal-grey;
}

.Headline25Medium {
    font-family: Barlow;
    font-size: 1.5rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.67px;
    color: $white;
}

.Headline20Medium {
    font-family: Barlow;
    font-size: 1.25rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: $white;
}

.Buttonlargewhitelabel {
    font-family: Barlow;
    font-size: 1.25rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.56px;
    color: $white;
}

.Buttonlargelabel {
    font-family: Barlow;
    font-size: 1.25rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.56px;
    color: $dark-blue-grey;
}

.Actiontitle {
    font-family: Barlow;
    font-size: 1.063rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.52px;
    text-align: center;
    color: $charcoal-grey;
}

.Headline20MediumPositiveMobile {
    font-family: Barlow;
    font-size: 1rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.32px;
    color: $charcoal-grey;
}

.PostTitle {
    font-family: Barlow;
    font-size: 0.938rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: -0.42px;
    color: $dark-blue-grey;
}

.NavigationListtitle {
    font-family: Barlow;
    font-size: 0.875rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.39px;
    color: $charcoal-grey;
}

.Tablabel {
    font-family: Barlow;
    font-size: 0.875rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.39px;
    color: $charcoal-grey;
}

.NavigationOn {
    font-family: Barlow;
    font-size: 0.875rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.39px;
    // max-width: 16.75rem;
    color: $pale-purple;
}

.NavigationOff {
    font-family: Barlow;
    font-size: 0.875rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.39px;
    color: $charcoal-grey;
}

.Listchecks {
    font-family: Barlow;
    font-size: 0.875rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.79;
    letter-spacing: -0.39px;
    color: $white;
}

.Bodypost {
    font-family: Barlow;
    font-size: 0.875rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.39px;
    color: $charcoal-grey;
}

.Bodylink {
    font-family: Barlow;
    font-size: 0.875rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.39px;
    color: $charcoal-grey;
}

.Bodymenulabeldate {
    font-family: Barlow;
    font-size: 0.75rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -0.1px;
    color: $charcoal-grey;
}

.Navigationlistlink {
    font-family: Barlow;
    font-size: 0.75rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.42;
    letter-spacing: -0.1px;
    color: $charcoal-grey;
}

.NavigationOffMobilePositive {
    font-family: Barlow;
    font-size: 0.75rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.33px;
    color: $dark-blue-grey;
}

.NavigationOffMobile {
    font-family: Barlow;
    font-size: 0.75rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.33px;
    color: $white;
}

.Bodymenulabel {
    font-family: Barlow;
    font-size: 0.75rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: -0.3px;
    color: $charcoal-grey;
}

.Bodytimestamp {
    font-family: Barlow;
    font-size: 0.688rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $charcoal-grey;
}

.Tableheading {
    font-family: Barlow;
    font-size: 0.625rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.07px;
    color: #48465b;
}

.Tabstatic {
    font-family: Barlow;
    font-size: 0.625rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.26px;
    color: $charcoal-grey;
}

.Navigationsectiontitle {
    font-family: Barlow;
    font-size: 0.625rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.28px;
    color: #d1c7d1;
}

.Navigationactiveitem {
    font-family: Barlow;
    font-size: 0.625rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.28px;
    color: #f5f1f9;
}

.buttonsmalllabel {
    font-family: Barlow;
    font-size: 0.5rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: center;
    color: $dark-blue-grey;
}