#main-content {
    width: calc(100% - 15.938rem);
    margin-left: 15.938rem;
    padding: 1.406rem 1.5rem 1.344rem;
    background-color: $secondary;
    .message-block {
        border-radius: 3px;
        border-bottom: 1px solid $tile;
        background-color: $white;
        .message-avatar {
            width: 3.125rem;
            height: 3.125rem;
            border-radius: 50%;
        }
        .message-text {
            border-radius: 3px;
        }
        iframe {
            height: 600px;
        }
        .reply-users {
            margin: 20px;
            img {
                width: 1.563rem;
                height: 1.563rem;
                border-radius: 50%;
            }
        }
        .reply-icons {
            margin: 20px;
            i {
                padding: 7px;
                border-radius: 50%;
                background-color: rgba(151, 136, 151, 0.1);
                cursor: pointer;
                &.type-article {
                    color: $success;
                    background-color: $light-success;
                }
                &.type-video {
                    color: $danger;
                    background-color: $light-danger;
                }
            }
        }
        .reply-comment {
            margin-left: 3rem;
        }
        .stars {
            input {
                display: none;
                &:checked~label {
                    color: gold;
                }
                &:checked {
                    >label {
                        &:hover {
                            color: gold;
                        }
                        &:hover~label {
                            color: gold;
                        }
                    }
                }
            }
            label {
                float: right;
                font-size: 24px;
                color: #d5d5d5;
                line-height: 1;
                &:before {
                    content: '★';
                }
            }
            &:not(:checked) {
                >label {
                    &:hover {
                        color: gold;
                    }
                    &:hover~label {
                        color: gold;
                    }
                }
            }
        }
        .drill {
            padding: 10px;
            border-radius: 50%;
            background-color: $light-warning;
            height: 35px;
            width: 35px;
        }
    }
}