#main-content {
    width: calc(100% - 15.938rem);
    min-height: calc(100vh - 145px);
    margin-left: 15.938rem;
    padding: 1.406rem 1.5rem 1.344rem;
    background-color: $secondary;
    //... admin index page
    .message-block {
        border-radius: 3px;
        border-bottom: 1px solid $tile;
        background-color: $white;
        .message-avatar {
            width: 3.125rem;
            height: 3.125rem;
            border-radius: 50%;
        }
        .message-text {
            border-radius: 3px;
        }
        iframe {
            height: 600px;
        }
        .reply-users {
            margin: 20px;
            img {
                width: 1.563rem;
                height: 1.563rem;
                border-radius: 50%;
            }
        }
        .reply-icons {
            margin: 20px;
            i {
                padding: 7px;
                border-radius: 50%;
                background-color: rgba($purpley-grey, 0.1);
                cursor: pointer;
                &.type-article {
                    color: $success;
                    background-color: $light-success;
                }
                &.type-video {
                    color: $danger;
                    background-color: $light-danger;
                }
            }
        }
        .reply-comment {
            margin-left: 3rem;
        }
        .stars {
            input {
                display: none;
                &:checked~label {
                    color: gold;
                }
                &:checked {
                    >label {
                        &:hover {
                            color: gold;
                        }
                        &:hover~label {
                            color: gold;
                        }
                    }
                }
            }
            label {
                float: right;
                font-size: 24px;
                color: #d5d5d5;
                line-height: 1;
                &:before {
                    content: '★';
                }
            }
            &:not(:checked) {
                >label {
                    &:hover {
                        color: gold;
                    }
                    &:hover~label {
                        color: gold;
                    }
                }
            }
        }
        .drill {
            padding: 10px;
            border-radius: 50%;
            background-color: $light-warning;
            height: 35px;
            width: 35px;
        }
    }
    //... admin account page
    .season-block-header {
        #season-carousel {
            overflow: hidden;
            white-space: nowrap;
            span {
                display: inline-block;
                padding: 0.8rem 0;
                &.active {
                    border-bottom: 2px solid $pale-purple;
                }
            }
        }
        select {
            width: 16.75rem;
            background-color: transparent;
            float: right;
        }
    }
    .season-block-content {
        .card {
            width: 32%;
            margin-right: 2%;
            border-radius: 3px;
            box-shadow: 0 0 10px 0 rgba($white, 0.05);
            &:last-child {
                margin-right: 0;
            }
            .card-header,
            .card-footer {
                border: none;
            }
            .card-body {
                .team-block {
                    border-bottom: 1px solid $tile;
                    padding: 1rem 1.5rem;
                    &:first-child {
                        h5 {
                            &:last-child {
                                margin-right: 3rem;
                            }
                        }
                    }
                    .team-number {
                        width: 1.5rem;
                        height: 1.5rem;
                        background-color: $purpley-grey;
                        color: $white;
                        border-radius: 50%;
                    }
                    .btn {
                        float: right;
                    }
                }
            }
        }
    }
    //... org admin page
    #org-header {
        border-radius: 3px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.03);
        background-image: linear-gradient(to top, $black, #331e48);
        .col-lg-6 {
            &:first-child {
                border-right: 1px solid $white;
            }
        }
        ul {
            margin-bottom: 0;
            padding-left: 1rem;
            list-style: "\2713";
            text-indent: 0.5rem;
            li::marker {
                color: $pale-purple;
            }
        }
    }
    .season-table {
        .season-action {
            width: 350px;
            p {
                width: 180px;
            }
        }
        table {
            &.add-team-table {
                .Tablabel {
                    line-height: 2;
                }
            }
            .season-table-number {
                width: 1.5rem;
                height: 1.5rem;
                background-color: $purpley-grey;
                color: $white;
                border-radius: 50%;
            }
            .form-check {
                padding-left: 2.5rem;
            }
            th,
            td {
                padding: 0.5rem 1.5rem;
            }
        }
        i {
            font-size: 1.5rem;
        }
        .add-team-btn {
            width: 150px;
            height: 40px;
        }
    }
}