footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 15.938rem);
    margin-left: 15.938rem;
    padding: 1rem;
    background-color: $white;
}