#sidebar {
    margin: auto;
    position: absolute;
    width: 15.938rem;
    height: 100%;
    background-color: $dark-blue-grey;
    header {
        padding: 1rem 1.5rem;
        height: 4rem;
        position: relative;
        transition: all .15s ease-in-out;
        #admin-logo {
            width: 7rem;
        }
        #admin-small-logo {
            display: none;
            cursor: pointer;
        }
        i {
            position: absolute;
            color: $purpley-grey;
            font-size: 20px;
            top: 24px;
            right: 20px;
        }
    }
    section {
        color: $white;
        padding-left: 1.5rem;
        position: relative;
        transition: all .15s ease-in-out;
        .box-title {
            padding: 0 0.75rem;
            color: $light;
            cursor: pointer;
            &.hasChild:before {
                position: absolute;
                display: block;
                content: '\203a';
                font-size: 1rem;
                right: 30px;
                top: -8px;
                transition: transform .15s ease-in-out;
            }
        }
        .box-content {
            width: calc(100% - 40px);
            font-size: 0.75rem;
            list-style: none;
            margin: 0 0 0.5rem;
            display: none;
            li {
                padding: 0.5rem 0;
            }
        }
        i {
            color: $purpley-grey;
            line-height: 2;
        }
        img {
            width: 1rem;
            height: 2rem;
        }
    }
    .accordion_input {
        display: none;
        &:checked+section .box-content {
            display: inline-block;
        }
        &:checked+section.box {
            .box-title {
                &:before {
                    transform: rotate(90deg);
                }
            }
        }
    }
    h5 {
        margin: 2rem 0 0.5rem 1.5rem;
        color: $light;
    }
}

//... sidebar hamburger
.hamburger-checked {
    display: none;
}

//... navbar hamburger
#tablet-sidebar-close,
#tablet-sidebar-open,
#tablet-hamburger-open {
    display: none;
    cursor: pointer;
}