.tooltip-container {
    display: inline-block;
    color: $purpley-grey;
    text-align: center;
    .header-icon {
        cursor: pointer;
        padding: 5px 9px 5px 11px;
        border-radius: 50%;
    }
    .notification-checked {
        display: none;
        &:checked~ {
            #notification-tooltip {
                opacity: 1;
                transform: scale(1);
            }
            label {
                background-color: rgba($purpley-grey, 28%);
            }
        }
    }
    .profile-checked {
        display: none;
        &:checked~ {
            #profile-tooltip {
                opacity: 1;
                transform: scale(1);
            }
            .header-icon {
                background-color: rgba($purpley-grey, 28%);
                border-radius: 20px;
            }
        }
    }
    .setting-checked {
        display: none;
        &:checked~ {
            #setting-tooltip {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
    .profile-setting {
        display: none;
        &:checked~ {
            #profile-tooltip {
                display: none;
            }
            #multi-profile-tooltip {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
    .feed-checked {
        display: none;
        &:checked~ {
            #feed-tooltip {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
    .tooltip {
        opacity: 0;
        z-index: 99;
        width: 16.938rem;
        display: block;
        background-color: $white;
        position: absolute;
        transition: all .2s ease-in-out;
        transform: scale(0);
        header {
            background-color: $dark-blue-grey;
        }
        .content {
            padding: 2rem 0 0;
        }
        &#notification-tooltip {
            top: 85px;
            right: 190px;
            header {
                padding: 1.5rem 0 2.25rem;
                .new-notification {
                    background-color: $white;
                    border-radius: 3px;
                    width: 8.25rem;
                    padding: 0.625rem 0;
                    position: absolute;
                    bottom: -12px;
                    left: calc(50% - 4.125rem);
                }
            }
            .content {
                .notification {
                    border-bottom: solid 1px $tile;
                    padding: 1rem;
                }
            }
        }
        &#profile-tooltip {
            top: 86px;
            right: 24px;
            header {
                padding: 1.5rem 0 0.5rem;
                height: 3.6rem;
                .profile-header {
                    position: absolute;
                    left: 1rem;
                    img {
                        width: 3rem;
                        border-radius: 50%;
                    }
                }
            }
            .content {
                .notification {
                    padding: 0.5rem 1rem;
                    &:last-child {
                        cursor: pointer;
                    }
                    img {
                        width: 1rem;
                    }
                }
                .signout {
                    padding: 1rem;
                    border-top: solid 1px $tile;
                    .btn {
                        border-radius: 2px;
                        background-color: $light;
                        text-align: center;
                        padding: 0.5rem;
                        width: 4.3rem;
                        border: none;
                    }
                }
            }
        }
        &#multi-profile-tooltip {
            top: 86px;
            right: 24px;
            header {
                padding: 1rem;
                height: 3.6rem;
            }
            .content {
                padding: 0;
                .profile-user {
                    padding: 0.5rem 1rem;
                    cursor: pointer;
                    &.active {
                        background-color: $tile;
                    }
                    img {
                        width: 2rem;
                        border-radius: 50%;
                    }
                }
                .signout {
                    padding: 1.5rem 1rem;
                    border-top: solid 1px $tile;
                    .btn {
                        border-radius: 2px;
                        text-align: center;
                        padding: 0.5rem;
                        border: none;
                        &:first-child {
                            background-color: $pale-purple;
                            color: $white;
                        }
                        &:last-child {
                            background-color: $light;
                        }
                    }
                }
            }
        }
        &#setting-tooltip {
            top: 64px;
            right: 0;
            width: 26.563rem;
            background-color: #fbfbfb;
            header {
                background-color: #fbfbfb;
                border-bottom: 1px solid $tile;
                .setting-buttons {
                    .btn {
                        padding: 0.625rem 1rem 0.813rem;
                        border: none;
                        border-radius: 2px;
                        font-weight: bold;
                        &:first-child {
                            background-color: $pale-purple;
                            color: $white;
                        }
                        &:last-child {
                            background-color: $light;
                        }
                    }
                }
                #setting-close {
                    color: $black;
                    padding: 4px 10px;
                    background-color: $light;
                    width: 1.75rem;
                    height: 1.75rem;
                }
            }
        }
        &#feed-tooltip {
            width: 49rem;
            left: 0;
            top: 64px;
            padding: 0;
            box-shadow: 0 0 14px 0 rgba($black, 0.1);
            .feed-block {
                border-right: 1px solid $light;
                padding: 2rem 0 0 2rem;
                ul {
                    padding-left: 1rem;
                    li {
                        margin: 1.5rem 0;
                        a {
                            color: $charcoal-grey;
                        }
                    }
                }
            }
        }
    }
}