.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.btn.purpleBtn {
    min-width: 11.563rem;
    padding: 0.688rem 2rem 0.938rem;
    border-radius: 25px;
    background-color: $pale-purple;
    &:hover {
        color: $white;
    }
}

.btn.transparentBtn {
    min-width: 11.563rem;
    padding: 0.688rem 2rem 0.938rem;
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid $pale-purple;
    &:hover {
        color: $white;
        background-color: $pale-purple;
    }
}

.header-carousel {
    .owl-nav {
        position: absolute;
        top: 50%;
        right: 8%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        .owl-prev {
            margin: 7px 0;
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFFFFF;
            background: transparent;
            border: 1px solid #FFFFFF;
            font-size: 22px;
            transition: .5s;
            &:hover {
                background: #06BBCC;
                border-color: #06BBCC;
            }
        }
        .owl-next {
            margin: 7px 0;
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFFFFF;
            background: transparent;
            border: 1px solid #FFFFFF;
            font-size: 22px;
            transition: .5s;
            &:hover {
                background: #06BBCC;
                border-color: #06BBCC;
            }
        }
    }
}

.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/carousel-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item {
    + {
        .breadcrumb-item {
            &::before {
                color: #F0FBFC;
            }
        }
    }
}

.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    &::before {
        position: absolute;
        content: "";
        width: calc(100% + 80px);
        height: 2px;
        top: 4px;
        left: -40px;
        background: #06BBCC;
        z-index: -1;
    }
    &::after {
        position: absolute;
        content: "";
        width: calc(100% + 120px);
        height: 2px;
        bottom: 5px;
        left: -60px;
        background: #06BBCC;
        z-index: -1;
    }
}

.section-title.text-start {
    &::before {
        width: calc(100% + 40px);
        left: 0;
    }
    &::after {
        width: calc(100% + 60px);
        left: 0;
    }
}

.service-item {
    background: #F0FBFC;
    transition: .5s;
    &:hover {
        margin-top: -10px;
        background: #06BBCC;
        * {
            color: #F0FBFC !important;
        }
    }
    * {
        transition: .5s;
    }
}

.category {
    img {
        transition: .5s;
    }
    a {
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
}

.course-item {
    img {
        transition: .5s;
    }
    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}

.team-item {
    img {
        transition: .5s;
    }
    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}

.testimonial-carousel {
    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
        z-index: 1;
    }
    &::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        height: 100%;
        width: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
        z-index: 1;
    }
    .owl-item {
        .testimonial-text {
            transition: .5s;
        }
    }
    .owl-item.center {
        .testimonial-text {
            * {
                transition: .5s;
                color: #FFFFFF !important;
            }
            background: #06BBCC !important;
        }
    }
    .owl-dots {
        margin-top: 24px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .owl-dot {
        position: relative;
        display: inline-block;
        margin: 0 5px;
        width: 15px;
        height: 15px;
        border: 1px solid #CCCCCC;
        transition: .5s;
    }
    .owl-dot.active {
        background: #06BBCC;
        border-color: #06BBCC;
    }
}