$pale-purple: #b18fcf;
$white: #fff;
$purpley-grey: #978897;
$secondary: #e2e3e5;
$dark: #343a40;
$charcoal-grey: #494850;
$tile: #e9e9ed;
$lightbox: rgba(0, 0, 0, 0.15);
$dark-blue-grey: #10182c;
$dark-blue-grey-0: rgba(16, 24, 44, 0);
$dark-purple: #29183a;
$transparent: transparent;
$light: #f5f1f9;
$black: #0a060e;
$success: #61cab8;
$light-success: #eafaf8;
$danger: #fd397a;
$light-danger: #ffecf2;
$warning: #ffb822;
$light-warning: #fff1d6;
$primary: #5d78ff;
$light-primary: #eff2ff;