@font-face {
    font-family: Barlow;
    src: local(Barlow-Light), url("../font/Barlow-Light.ttf");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: Barlow;
    src: local(Barlow-Regular), url("../font/Barlow-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: Barlow;
    src: local(Barlow-Medium), url("../font/Barlow-Medium.ttf");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: Barlow;
    src: local(Barlow-SemiBold), url("../font/Barlow-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}