:root {
    font-size: 16px;
}

.bg-dark-blue {
    background-color: $dark-blue-grey;
}

.bg-dark-purple {
    background-color: $dark-purple;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}