@media (max-width: 991.98px) {
    .navbar-light {
        .navbar-nav {
            .nav-link {
                margin-right: 0;
                padding: 10px 0;
            }
            border-top: 1px solid #EEEEEE;
        }
        #homebar {
            display: block;
        }
        .navbar-nav .nav-link:last-child {
            margin-right: 0;
        }
    }
    #hamburger {
        display: none;
    }
    #sidebar {
        display: none;
    }
    .admin-nav {
        width: 100%;
        margin-left: 0;
        background-color: $dark-blue-grey;
        .navbar-nav .nav-link {
            color: $white;
            margin-right: 2rem;
        }
    }
    #main-content {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .nav-pills .nav-link {
        margin: 0;
    }
}

@media (max-width: 576px) {
    .carousel-inner .carousel-container {
        padding: 0;
    }
    .btn.transparentBtn,
    .btn.purpleBtn {
        min-width: unset;
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }
    .home-nav .navbar-brand #logo {
        padding: 0;
    }
    .Headlineform {
        font-size: 3rem;
    }
    .ClubsTitle {
        font-size: 2.125rem;
    }
    .tabset>label {
        margin: 15px 0.6rem 25px;
    }
    .mobile-order {
        order: 1;
    }
}