@media (max-width: 991.98px) {
    .navbar-light {
        .navbar-nav {
            .nav-link {
                margin-right: 0;
                padding: 10px 0;
            }
            border-top: 1px solid #EEEEEE;
        }
        #homebar {
            display: block;
        }
        .navbar-nav .nav-link:last-child {
            margin-right: 0;
        }
    }
    #hamburger {
        display: none;
    }
    #sidebar {
        display: none;
    }
    .admin-nav {
        width: 100%;
        margin-left: 0;
        padding: 1rem;
        background-color: $dark-blue-grey;
        .navbar-nav .nav-link {
            color: $white;
            margin-right: 1.5rem;
        }
    }
    #main-content {
        width: 100%;
        margin-left: 0;
        padding: 1rem;
    }
    .tablet-bar {
        position: absolute;
        top: 18px;
        right: 16px;
        z-index: 9999;
        &#tablet-sidebar-open {
            display: block;
        }
    }
    .tablet-profile {
        position: absolute;
        top: 18px;
        right: 42px;
        z-index: 9999;
    }
    #tablet-hamburger-open {
        &:checked~ {
            #sidebar {
                display: block;
                width: 100%;
                height: auto;
            }
            #tablet-sidebar-open {
                display: none;
            }
            #tablet-sidebar-close {
                display: block;
            }
        }
    }
}

@media (min-width: 991.98px) {
    //... sidebar hamburger
    #hamburger {
        position: absolute;
        color: $light;
        left: 215px;
        top: 22px;
        z-index: 9999;
        cursor: pointer;
        img {
            width: 26px;
        }
    }
    .hamburger-checked {
        display: none;
        &:checked~ {
            #hamburger {
                display: none;
            }
            #sidebar {
                width: 4rem;
                header {
                    #admin-logo {
                        display: none;
                    }
                    #admin-small-logo {
                        display: block;
                    }
                }
                section {
                    padding-left: 0;
                    text-align: center;
                    .box-title,
                    .box-content {
                        display: none!important;
                    }
                }
            }
            #main-content,
            .admin-nav {
                width: calc(100% - 4rem);
                margin-left: 4rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .nav-pills .nav-link {
        margin: 0;
    }
    #main-content {
        .message-block iframe {
            height: 500px;
        }
    }
}

@media (max-width: 576px) {
    .carousel-inner .carousel-container {
        padding: 0;
    }
    .btn.transparentBtn,
    .btn.purpleBtn {
        min-width: unset;
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }
    .home-nav .navbar-brand #logo {
        padding: 0;
    }
    .Headlineform {
        font-size: 3rem;
    }
    .ClubsTitle {
        font-size: 2.125rem;
    }
    .tabset>label {
        margin: 15px 0.6rem 25px;
    }
    .mobile-order {
        order: 1;
    }
    #main-content {
        .message-block {
            iframe {
                height: 300px;
            }
            .message-control {
                display: block;
                width: 150px;
                margin: 20px auto;
                text-align: center;
            }
        }
    }
}