@media (max-width: 991.98px) {
    .navbar-light {
        .navbar-nav {
            .nav-link {
                margin-right: 0;
                padding: 10px 0;
            }
            border-top: 1px solid #EEEEEE;
        }
        .navbar-toggler {
            filter: invert(1);
        }
        .navbar-nav .nav-link:last-child {
            margin-right: 0;
        }
    }
}

@media (min-width: 992px) {
    .navbar {
        .nav-item {
            .dropdown-menu {
                display: block;
                margin-top: 0;
                opacity: 0;
                visibility: hidden;
                transition: .5s;
            }
            &:hover {
                .dropdown-menu {
                    top: 100%;
                    transform: rotateX(0deg);
                    visibility: visible;
                    transition: .5s;
                    opacity: 1;
                }
            }
        }
        .dropdown-menu.fade-down {
            top: 100%;
            transform: rotateX(-75deg);
            transform-origin: 0% 0%;
        }
    }
}

@media (max-width: 768px) {
    .nav-pills .nav-link {
        margin: 0;
    }
}

@media (max-width: 576px) {
    .carousel-container {
        padding: 0;
    }
    .btn.transparentBtn,
    .btn.purpleBtn {
        min-width: unset;
        padding: 0.5rem 1rem;
    }
    .navbar #logo {
        padding: 0;
    }
}